package nullable

import (
	"fmt"

	"github.com/mailru/easyjson/jlexer"
	"github.com/mailru/easyjson/jwriter"
)

// {{.TypeName}} is an optional {{.GoType}} type for providing optional semantics without using pointers.
type {{.TypeName}} struct {
	IsPresent bool
	Value     {{.GoType}}
}

// IsDefined returns whether the value is defined.
// It is used by easyjson when the field has omitempty tag,
// to decide whether to include the field or not.
func (v {{.TypeName}}) IsDefined() bool {
	return v.IsPresent
}

// MarshalEasyJSON does JSON marshaling using easyjson interface.
func (v {{.TypeName}}) MarshalEasyJSON(w *jwriter.Writer) {
	if v.IsPresent {
		w.{{.WriterMethod}}(v.Value)
	} else {
		w.RawString("null")
	}
}

// UnmarshalEasyJSON does JSON unmarshaling using easyjson interface.
func (v *{{.TypeName}}) UnmarshalEasyJSON(l *jlexer.Lexer) {
	if l.IsNull() {
		l.Skip()
		*v = {{.TypeName}}{}
	} else {
		v.Value = l.{{.LexerMethod}}()
		v.IsPresent = true
	}
}

// MarshalJSON implements a standard json marshaler interface.
func (v {{.TypeName}}) MarshalJSON() ([]byte, error) {
	w := jwriter.Writer{}
	v.MarshalEasyJSON(&w)
	return w.Buffer.BuildBytes(), w.Error
}

// UnmarshalJSON implements a standard json unmarshaler interface.
func (v *{{.TypeName}}) UnmarshalJSON(data []byte) error {
	l := jlexer.Lexer{Data: data}
	v.UnmarshalEasyJSON(&l)
	return l.Error()
}

// String implements a stringer interface using fmt.Sprint for the value.
func (v {{.TypeName}}) String() string {
	if !v.IsPresent {
		return "<null>"
	}
	return fmt.Sprint(v.Value)
}
