package optional

import (
	"github.com/mailru/easyjson/jlexer"
	"github.com/mailru/easyjson/jwriter"
)

// {{.TypeName}} is a container for {{.GoType}} type that provides optional semantics without using pointers.
type {{.TypeName}} struct {
	isDefined bool
	IsPresent bool
	Value     {{.GoType}}
}

// IsDefined determines whether this field should be included in the json output, if it has the omitempty tag.
func (v {{.TypeName}}) IsDefined() bool {
	return v.isDefined
}

// SetDefined sets the field to defined, see IsDefined.
func (v *{{.TypeName}}) SetDefined() {
	v.isDefined = true
}

// Get returns the value if it is not null, otherwise it returns the given default value.
func (v {{.TypeName}}) Get(value {{.GoType}}) {{.GoType}} {
	if v.IsPresent {
		return v.Value
	} else {
		return value
	}
}

// Set stores the value and sets it as not null.
func (v *{{.TypeName}}) Set(value {{.GoType}}) {
	v.IsPresent = true
	v.Value = value
}

// MarshalEasyJSON does JSON marshaling using easyjson interface.
func (v {{.TypeName}}) MarshalEasyJSON(w *jwriter.Writer) {
	if v.IsPresent {
		w.{{.WriterMethod}}(v.Value)
	} else {
		w.RawString("null")
	}
}

// UnmarshalEasyJSON does JSON unmarshaling using easyjson interface.
func (v *{{.TypeName}}) UnmarshalEasyJSON(l *jlexer.Lexer) {
	if l.IsNull() {
		l.Skip()
		*v = {{.TypeName}}{}
	} else {
		v.Value = l.{{.LexerMethod}}()
		v.IsPresent = true
	}
}

// MarshalJSON implements a standard json marshaler interface.
func (v {{.TypeName}}) MarshalJSON() ([]byte, error) {
	w := jwriter.Writer{}
	v.MarshalEasyJSON(&w)
	return w.Buffer.BuildBytes(), w.Error
}

// UnmarshalJSON implements a standard json unmarshaler interface.
func (v *{{.TypeName}}) UnmarshalJSON(data []byte) error {
	l := jlexer.Lexer{Data: data}
	v.UnmarshalEasyJSON(&l)
	return l.Error()
}
